.movie {
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.movie:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.catalogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}